<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el CommonModule
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del año actual">
            <i class="pi pi-dollar"></i>
            {{ventasNetas | number:'1.2-2'}}<!--Antes del punto dice el mínimo de enteros, y despues del . indicamos el rango de decimales-->
            
            <ng-template pTemplate='footer'>
                <b>Original: </b>{{ventasNetas}}
            </ng-template>            
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del año actual">
            {{ventasNetas | currency:'EUR':'symbol-narrow':'1.5'}}
            <ng-template pTemplate='footer'>
                <b>Original: </b>{{ventasNetas}}
            </ng-template> 
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia porcentual" subheader="del año actual">
            {{porcentaje | percent:'1.2'}}
            <ng-template pTemplate='footer'>
                <b>Original: </b>{{porcentaje}}
            </ng-template> 
        </p-card>
    </div>
</div>
